@import "tailwindcss";


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

/* ===== Custom Green Scrollbar (Global) ===== */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #22c55e; /* green-500 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #16a34a; /* green-600 */
}

/* ===== Custom Green Scrollbar only for Chat box ===== */
.chat-scroll::-webkit-scrollbar {
  width: 5px;
}

.chat-scroll::-webkit-scrollbar-thumb {
  background: #22c55e;
  border-radius: 10px;
}

.chat-scroll::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
}
